@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Patua+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    color: #2c3e50;
    font-size: 35px;
}

/* logo and navigation links*/

#logo {
    float: left;
    margin: 20px 40px;
    border: 2px solid #2c3e50;
    border-radius: 24px;
}

#menu {
    font-size: 110%;
    font-family: 'Patua One', cursive;
    color: #2c3e50;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#menu,
#logo {
    line-height: 55px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 30px 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #2c3e50;
}

.active {
    border-bottom: 1px solid #2c3e50;
}

/*hero image */


#hero {
    background: linear-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url('../images/hero-image10.jpg') no-repeat center center;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    background-size: cover;
}

/* the code has been taken and modified from CI Love Running project  */

#cover-text,
#cover-text h1 {
    color: #252424;
}

#cover-text {
    font-size: 150%;
    font-family: 'Patua One', cursive;
    color: #b33939;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 35px;
}


/* about us */

.container {
    padding: 20px;
}

#about-us {

    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px;
    padding: 60px;
}

h1 {
    font-size: 110%;
    font-family: 'Patua One', cursive;
    color: #2c3e50;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-us-text {
    display: grid;
    gap: 32px;
    align-content: center;
    padding-right: 20px;
}

#image-about-us {
    border-radius: 40px;
    padding-left: 20px;
}

/* contact and map*/
.container {
    padding: 20px;
}

#contact-map {
    background-image: url('../images/contact.jpg');
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px;
    padding: 60px;
    width: 100%;
}

h1 {
    font-size: 110%;
    font-family: 'Patua One', cursive;
    color: #2c3e50;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#contact {
    display: grid;
    gap: 32px;
    align-content: center;
    padding-right: 20px;
}

#map-wrapper {
    border-radius: 40px;
    width: 100%;
}

/* #contact {
    width: 50%;
    height: 450px;
    font-size: medium;
    float: left;
    position: absolute;
    box-sizing: border-box;

}

#contact-map {
    background-image: url('../images/contact.jpg');
    height: 40vh;
    display: flex;
    background-size: cover;
    margin-top: 0.5%;
    width: 100%;

}

#map-wrapper {
    width: 100%;
    height: auto;
    display: block;
    padding: unset;
    border-radius: 7px;
}

iframe {
    width: 100%;
    height: 100%;
} */

/* social media */

footer {
    height: 60px;
}

.social {
    text-align: center;
}


.social>li {
    display: inline;
}

.social i {
    font-size: 130%;
    margin: 0.5%;
    padding: 0.5%;
    color: #2c3e50;
}

.copyright {
    font-size: small;
    text-align: center;
}

/* sign up form */
/* the code has been taken and modified from CI Love Running project  */

#form-container {

    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    padding: 50px 25px;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url('../images/form-image.webp');
}


.signup-form {
    margin: 30px 20% 30 0;
    color: #2c3e50;
    background-color: #bdc3c7;
    position: absolute;
    left: 10%;
    padding: 30px;
    max-width: 500px;
    height: 75vh;
    border-radius: 24px;
}


.signup-form>h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 7px;
}

.text-input:hover {
    border-color: #c0392b;
}

.signup-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    /* text-align: center; */
    font-size: 100%;
    background-color: #2c3e50;
    color: #bdc3c7;
    display: block;
    border-radius: 24px;
}


.signup-button:hover {
    background-color: #c0392b;
    color: #2c3e50;
}

/* programs html */
/* 
.text-center {
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
}

.card-container {
    width: 66%;
    margin: 0 auto;
    display: inline-block;
}

.card {
    background-color: #ecf0f1;
    width: 300px;
    height: 500px;
    margin: 10px;
    border-radius: 15px;
    font-size: large;

}

.card-image {
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

card-1 {
    float: left;
}

card-3 {
    float: right;
}

.group-1 {
    background-image: url('../images/group-1.jpg');
}

.group-2 {
    background-image: url('../images/group-2.jpg');
}

.group-3 {
    background-image: url('../images/group-3.jpg');
}

.card h2,
li {
    padding: 10px;
} */