@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Patua+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    color: #2c3e50;
}

/* logo and navigation links*/

#logo {
    float: left;
    margin-left: 40px;
}

#menu {
    font-size: 110%;
    font-family: 'Patua One', cursive;
    color: #2c3e50;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#menu,
#logo {
    line-height: 55px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 30px 40px;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #2c3e50;
}

.active {
    border-bottom: 1px solid #2c3e50;
}

/*hero image */

#hero-image {
    background: url('../images/hero-image.jpg') no-repeat center center;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
}