@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Patua+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Patua One', cursive;
    font-weight: 400;
}